%p= link_to 'Sign in', new_user_session_path

%h1 Linopedia: Social Wikis
%h2 Create and share Markdown Wikis
= link_to 'Sign up', new_user_registration_path

%h2 Create as many public wikis as you want!
%p link to Free Plan

%h2 Create private wikis!
%p link to Premium Plan
